<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
</head>
<body style="margin-left:20%">
<h1>Welcome to the login form</h1>

<form style="padding:5%" action="/managers/auth" method="post">
    <label for="username">Email:</label>
    <input type="text" id="username" name="email" style="margin-bottom: 3%; margin-left:21px">
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" style="margin-bottom: 3%;" />
    <br>



    <button type="submit">Login</button>
</form>
</body>
</html>
